.button {
	color: #000000 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #6c7ae0;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	cursor: pointer;
	color: #fff !important;
}

.button:hover {
	background: #434343;
	color: #fff !important;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
	box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
	transition: all 0.4s ease 0s;
}

.done {
	background: #75b53c;
	color: #000;
}

.disable_button {
	opacity: 0.6;
	cursor: not-allowed;
}

.enable_button {
	opacity: 1;
	cursor: pointer;
}

.bill {
	color: #000;
	background: #ce376c;
}

table, th, td {
	border: 1px black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: center;
}

.page-header {
	text-align: center;
	color: #ffffff;
	background: #000000;
	padding-top: 2px;
	padding-bottom: 2px;
}

body {
	width: 100%;
	margin: 0;
	background: #e0eaff !important;
	align: center;
}

.container-table100 {
	width: 100%;
	min-height: 10vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 30px 0px;
}

.wrap-table100 {
	width: 1050px;
	border-radius: 10px;
	overflow: hidden;
}

.table {
	width: 100%;
	display: table;
	margin: 0;
}

@media screen and (max-width: 768px) {
	.table {
		display: block;
	}
}

.row {
	display: table-row;
	background: #fff;
}

.row.header {
	color: #ffffff;
	background: #6c7ae0;
}

@media screen and (max-width: 768px) {
	.row {
		display: block;
	}
	.row.header {
		padding: 0;
		height: 0px;
	}
}

.table, .row {
	width: 100% !important;
}

.row:hover {
	background-color: #ececff;
	cursor: pointer;
}

@media ( max-width : 768px) {
	.row {
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 18px;
		padding-top: 30px;
		padding-right: 15px;
		margin: 0;
	}
}

.bill_input, .search_inp {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}
*
/