<html>
<script type="text/javascript" src="/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/product.js"></script>
<script type="text/javascript" src="/billing.js"></script>
<script type="text/javascript" src="/retailer_1.js"></script>
<script type="text/javascript" src="/productretailer.js"></script>
<script type="text/javascript" src="/notification.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src='https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js'></script>
<script src="/easyNotif.js"></script>
<link rel="stylesheet" type="text/css" href="/styling.css">

<head>

</head>

<body>
	<div id="easyNotify"></div>
	
	<div class="page-header">
		<h2>Grocery Store Management System</h2>
	</div>

	<h2>Products Table</h2>
	<p>All the products available at the store along with some details.</p>

	<div class="container-table100">
		<div class="wrap-table100">
			<div class="table">
				<table id="Product_table">

					<tr id="prod_tab_heading" class="row header">
						<th></th>
						<th>Sl. No</th>
						<th>Product ID</th>
						<th>Product Name</th>
						<th>Description</th>
						<th>Quantity Available</th>
						<th>Cost per unit</th>
						<th>Promotion(%)</th>
					</tr>

				</table>
				
			</div>
		</div>
	</div>
	<br>
	
	<button id="new_prod" class="button">Add new Product</button>
	<button id="delete_prod" class="button">Delete Product</button>
	<button id="modify_prod" class="button">Modify Product</button>
	<div id="get_button">
	
	</div>
	
	
	<br>

	<div id="insert_button"></div>


	<h2>Retailer Table</h2>
	<p>All the retailers that supply products to the store along with
		some personal information.</p>

	<div class="container-table100">
		<div class="wrap-table100">
			<div class="table">
				<table id="Retailer_table">

					<tr id="retailer_tab_heading" class="row header">
						<th></th>
						<th>Sl. No</th>
						<th>Retailer ID</th>
						<th>Retailer Name</th>
						<th>Contact No 1</th>
						<th>Contact No 2</th>
						<th>Contact No 3</th>
						<th>Address 1</th>
						<th>Address 2</th>
						<th>Address 3</th>
					</tr>


				</table>
			</div>
		</div>
	</div>
	<br>
	<button id="new_retailer" class="button">Add new Retailer</button>
	<button id="delete_retailer" class="button">Delete Retailer</button>
	<button id="modify_retailer" class="button">Modify Retailer</button>
	<div id="get_ret_button">
	</div>
	
	<br>

	<div id="insert_button2"></div>

	<h2>Product - Retailer Table</h2>
	<p>Information about the relation between each retailer and the
		products supplied by him.</p>
	<div class="container-table100">
		<div class="wrap-table100">
			<div class="table">
				<table id="Prod_Ret_table">

					<tr id="prod_ret_tab_heading" class="row header">
						<th></th>
						<th>Sl. No</th>
						<th>Product ID</th>
						<th>Retailer ID</th>
						<th>Time Stamp</th>
						<th>Quantity</th>
						<th>Cost</th>
					</tr>


				</table>
			</div>
		</div>
	</div>
	<br>
	<button id="new_prod_ret" class="button">Add new Row</button>
	<button id="modify_prod_ret" class="button">Modify Row</button>
	<button id="find_retailer" class="button">Search Product / Retailer</button>
	<button id="get_all" class="button">Display All</button>
	
	<br>

	<div id="insert_button3"></div>

	<br>
	<div id="display_bill">

		<button id="create_bill" class="button bill">NEW BILL</button>

		<div id="bill_details"></div>

		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table">
					<table id="Bill_table" class="row header bill">
			
					</table>
				</div>
			</div>
		</div>

		<div id="bill_final_options"></div>
	</div>
	
	<div id="analytics">
		<button id="display_graph" class="button">SHOW SALES STATISTICS</button>
		<br>
		
		<div id="graph_input"></div>
		
		<div id="chartContainer" style="height: 300px; width: 80%; margin:20px;">
	
		</div>
	</div>
	
	</body>
</html>